.contener{
    padding: 2%;
    border: solid;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
img{
    height: 5em;
    object-fit: contain;
    transition: transform 0.2s ease;
}
img:active{
    transform: scale(0.80);
}

button{
    background-color: rgb(42, 235, 35);
    color: white;
    width: 80px;
    height: 40px;
    position: relative;
    left: 50%;
    border: none;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
    transition: transform 0.2s ease;
    cursor: pointer;
}
button:active{
    transform: scale(0.96);
}

.computer {
    display: inline-block;
}
.user{
    display: inline-block;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    transition: transform 0.2s ease;
}
h1:after{
    transform: scale(0.96);
}
.computer{
    margin-left: 20%;
}
